<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update task</title>
</head>
<body>
    <form>
        <input type="text" name="title" placeholder="Enter Task">
        <input type="text" name="description" placeholder="Enter Description">
        <input type="text" name="due" >
        <input type="text" name="status" placeholder="Enter Status">
        <button type="submit">Update Task</button>
    </form>
</body>
</html>